/* displaying nothing in this class */
.hide{
  display: none; 
}

.hideButton{
  display: none;
}
/* changing size , color of the body */
body{
  background-color: peachpuff; 
  font-size: 15px;
  font-family: sans-serif;
  color: #333;
}
/* changing backgroundColor to black when move mouse on it */
#start:hover{
  background-color:black;
  color:white;
} 

/* changing backgroundColor to black when move mouse on it */
#buttonOne:hover,#buttonTwo:hover,#buttonThree:hover ,#buttonFour:hover{
  background-color:black;
  color:white;
}
 
 #time{
   text-align:right;
   margin-left: 1000px;
 }

 .container , h2{
    text-align: center;
 }
.container,h3{
    text-align: center;
    font-family: sans-serif; 
}  


/* changing start button  size, color, alignment*/
#start
   {
        display: block;
        width: 10%;
        border: solid;
        padding: 14px 28px;
        font-size: 16px;
        text-align: center;
        margin-left:630px ;
        border-radius: 12px;
      }
/* changing answer button  size, color, alignment*/
      #buttonOne,#buttonTwo,#buttonThree,#buttonFour
      {
        display: flex;
        width: 20%;
        border: solid;
        padding: 14px 28px;
        font-size: 16px;
        text-align: center;
        margin-top: 5px;
        /* margin-left:630px ; */
        border-radius: 12px;
        margin-left: 600px;
      }

      #time{
        display: flex;
        flex-wrap: wrap;
      }
      
     